@import 'tailwindcss';
@config "../../tailwind.config.ts";
@import './generated/tailwind-theme.css';

@import './index.base.css';
@import './generated/palette.dusk.css';
@import './generated/palette.arctic.css';
@import './generated/palette.ember.css';
@import './generated/theme.dusk.css';
@import './generated/theme.arctic.css';
@import './generated/theme.ember.css';
@import './generated/semantic.light.css';
@import './generated/semantic.dark.css';
